<p-confirmDialog></p-confirmDialog>

<section class="min-h-screen bg-gray-100 py-8 px-4 flex flex-col items-center">
  <div
    class="w-full max-w-4xl flex flex-wrap border border-main/30 md:justify-between justify-center items-center gap-2 mb-6 p-4 rounded-xl shadow-lg"
  >
    <div class="flex items-center gap-2 bg-white border border-main py-1 px-2 rounded-xl">
      <i class="pi pi-clock text-main text-xl"></i>
      <span class="text-2xl font-mono font-semibold text-text-dark tracking-wider">
        {{ quizState.timerString() }}
      </span>
    </div>
    <!-- add btn toggle between test and direct mode -->
    <div class="flex justify-center bg-white border border-main/30 p-1 rounded-xl">
      <p-selectbutton
        [options]="[
          { label: 'AR', value: 'rtl' },
          { label: 'EN', value: 'ltr' },
        ]"
        [(ngModel)]="isTestMode"
        optionLabel="label"
        optionValue="value"
        aria-labelledby="basic"
      />
    </div>
    <div class="text-text-muted font-semibold">
      سؤال {{ currentIndex() + 1 }} من {{ questions().length }}
    </div>
  </div>

  <div class="w-full max-w-4xl mb-8">
    <p-progressBar
      [value]="progress()"
      [showValue]="false"
      class="h-2"
      color="var(--color-main)"
    ></p-progressBar>
  </div>

  <div class="w-full max-w-4xl relative min-h-[400px]" [dir]="isTestMode()">
    @if (currentQuestion(); as question) {
      <app-question-carde
        [question]="question"
        [savedAnswerId]="quizState.getAnswer(question.id!)"
        (answerSelect)="onAnswerSelected($event)"
      />
    } @else {
      <div class="flex justify-center items-center h-64">
        <i class="pi pi-spin pi-spinner text-4xl text-main"></i>
      </div>
    }
  </div>

  <div class="w-full max-w-4xl flex justify-between mt-8" [dir]="isTestMode()">
    <button
      pButton
      label="السابق"
      icon="pi pi-arrow-right"
      class="p-button-outlined p-button-main shadow-xl px-6"
      [disabled]="isFirstQuestion()"
      (click)="prev()"
    ></button>

    @if (!isLastQuestion()) {
      <button
        pButton
        label="التالي"
        icon="pi pi-arrow-left"
        iconPos="right"
        class="p-button-main shadow-xl px-8"
        (click)="next()"
      ></button>
    } @else {
      <button
        pButton
        label="إنهاء الاختبار"
        severity="danger"
        class="px-8 shadow-xl"
        (click)="confirmEnd($event)"
      ></button>
    }
  </div>
</section>
