// :host {
//   display: block;
//   direction: rtl; // لضمان دعم اللغة العربية بشكل صحيح
// }

// ::ng-deep {
//   .p-password input {
//     width: 100%;
//   }

//   // لجعل حقول PrimeNG تتناسب مع تصميم Tailwind
//   .p-inputtext:enabled:focus {
//     box-shadow: 0 0 0 2px #dbeafe; // blue-100
//     border-color: #3b82f6; // blue-500
//   }
// }


:host ::ng-deep {
  // .p-inputtext {
  //   @apply border-gray-200 focus:ring-2 focus:ring-indigo-500/20 focus:border-indigo-500;
  // }

  // .p-password-input {
  //   @apply w-full;
  // }

  // .p-checkbox .p-checkbox-box {
  //   @apply rounded-md border-gray-300;
  //   &.p-highlight {
  //     @apply bg-indigo-600 border-indigo-600;
  //   }
  // }

  .p-button {
    background: #4f46e5;
    border-radius: 0.75rem;

    &:enabled:hover {
        background: #4338ca;
    }
  }

  .animate-fadein {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }
}
