<div class="mb-4 p-4 flex items-center justify-center">
  <a
    [routerLink]="[curriculum.id]"
    class="block w-[25rem] focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-xl"
    aria-label="الانتقال إلى المصادر {{ curriculum.subjectName }}"
  >
    <p-card
      class="cursor-pointer overflow-hidden rounded-xl shadow-md hover:shadow-xl transition-all duration-300 transform hover:-translate-y-2"
    >
      <!-- Title -->
      <ng-template #title>
        <div class="text-center py-3">
          <span
            class="text-lg font-semibold text-gray-800 group-hover:text-indigo-600 transition-colors"
          >
            {{ curriculum.subjectName }}
          </span>
        </div>
      </ng-template>
    </p-card>
  </a>
</div>
