<div class="mb-4 p-4 flex items-center justify-center">
  <a
    [routerLink]="[college.id, 'years']"
    class="block w-100 focus:outline-none focus:ring-2 focus:ring-indigo-500 rounded-xl"
    aria-label="الانتقال إلى السنوات المتاحة في كلية {{ college.name }}"
  >
    <p-card
      class="cursor-pointer border border-text-muted hover:border-main border-b-8 rounded-xl overflow-hidden shadow-lg hover:shadow-accent-soft transition-all duration-300 transform hover:-translate-y-2"
    >
      <ng-template #header>
        <div class="relative overflow-hidden group">
          <img
            [alt]="college.name"
            class="w-full h-48 object-contain transition-transform duration-500 group-hover:scale-105"
            [src]="college.url"
          />
          <div
            class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          ></div>
        </div>
      </ng-template>

      <ng-template #title>
        <div class="text-center py-3 hover:bg-accent-soft transition-all duration-300">
          <span class="text-lg md:text-xl lg:text-2xl text-text-dark font-semibold">
            كلية {{ college.name }}
          </span>
        </div>
      </ng-template>
    </p-card>
  </a>
</div>
